#hero {
	background-image: url("/Images/hero4.jpg");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;
	display: flex;
	flex-direction: column;
	align-items:  flex-start;
	justify-content: center;
}

#hero h4 {
	padding-bottom: 15px;
}

#hero h1 {
	color: #26ade4;
}

#hero button {
	background-color: #26ade4;
	border-radius: 20px;
	color: #fff;
	border: 0;
	padding: 14px 65px 14px 65px;
	background-repeat: no-repeat;
	cursor: pointer;
	font-weight: 700;
	font-size: 15px;
}

#feature {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

#feature .fe-box{
	width: 300px;
	height: 350px;
	text-align: center;
	padding: 25px 15px;
	box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
	border: 1px solid #8ad9f8;
	border-radius: 4px;
	margin: 15px 10px;
}

#feature .fe-box:hover{
	box-shadow: 10px 10px 64px rgba(43, 37, 168, 0.1);
}

#feature .fe-box img{
	width: 100%;
	margin-bottom: 10px;
}

#feature .fe-box h6{
	padding: 9px 8px 6px 8px;
	line-height: 1;
	border-radius: 4px;
	color: #ffffff;
	background-color:#7694f5;
}

#feature .fe-box:nth-child(2) h6{
	background-color: rgb(85, 224, 178);
}

#feature .fe-box:nth-child(3) h6{
	background-color: rgb(32, 167, 221);
}

#feature .fe-box:nth-child(4) h6{
	background-color: rgb(241, 112, 213);
}

#product1{
	text-align: center;
}

#product1 .pro-container{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	flex-wrap: wrap;
}

#product1 .pro{
	width: 23%;
	min-width: 250px;
	padding: 10px 12px;
	border: 1px solid #8ad9f8;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
	margin: 15px 0;
	transition: 0.2s ease;
	position: relative;
}

#product1 .pro:hover{
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
	width: 100%;
	border-radius: 20px;
}

#product1 .pro .des{
	text-align: start;
	padding: 10px 0;
}

#product1 .pro .des span{
	color: #606063;
	font-size: 12px;
}

#product1 .pro .des h5{
	padding-top: 7px;
	color: #1a1a1a;
	font-size: 15px;
}
#product1 .pro .des i{
	font-size: 12px;
	color:  rgb(243, 181, 25);
}

#product1 .pro .des h4{
	padding-top: 7px;
	font-size: 15px;
	font-weight: 700;
	color: #26ade4;
}

#product1 .pro .cart{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50px;
	background-color: #e8f6ea;
	color: #26ade4;
	border: 1px solid #8ad9f8;
	position: absolute;
	bottom: 20px;
	right: 10px;
}